.live{
    background-color: black;
}

table{
    border:1px solid black;
    border-collapse: collapse;
}
tr, td{
    margin:0;
    padding:0;
    border:1px solid lightgrey;
}
td{
    width:10px;
    height:10px;
}
